<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">

    <title>ReSyringe</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Resize webpage to any screen-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons -->
    <link href="static/assets/img/favicon.png" rel="icon">
    <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="static/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
  * Template Name: MyResume - v4.3.0
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

</head>

<body>

    <!-- ======= Sterilize Section ======= -->
    <section id="sterilize" class="services">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Sterilising Stage</h2>
            </div>

            <div class="row">

                <div data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box iconbox-blue">
                        <div class="icon">
                            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                <path stroke="none" stroke-width="0" fill="#f5f5f5"
                                    d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174">
                                </path>
                            </svg>
                            <i class='bx bxs-washer'></i>
                        </div>
                        <h4><a id=sterilizeText><b>Sterilising in Progress</b></a></h4>
                        <div id="myProgress">
                            <div id="myBar">10%</div>
                        </div>
                        <br><br>
                        <h2>Results</h2>
                        <div id="resultSterilizeMsg">
                            <span id="result"></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End  Section -->





    <!--</main> -->
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">


            <div class="copyright">
                &copy; Copyright <strong><span>ReSyringe</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: [license-url] -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
                <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
            </div>
        </div>
    </footer>

    <!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="static/assets/vendor/aos/aos.js"></script>
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/assets/vendor/php-email-form/validate.js"></script>
    <script src="static/assets/vendor/purecounter/purecounter.js"></script>
    <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="static/assets/vendor/typed.js/typed.min.js"></script>
    <script src="static/assets/vendor/waypoints/noframework.waypoints.js"></script>

    <!-- Template Main JS File -->
    <script src="static/assets/js/main.js"></script>
    <script>
        function callSterilizeFunc() {
            $.ajax({
                url: '/sterilize_syringes_process',
                dataType: 'JSON',
                type: 'GET',
                success: function (data) {
                    if (data.result == true) {
                        width = 100
                        var elem = document.getElementById("myBar");
                        elem.style.width = width + "%";
                        elem.innerHTML = width + "%";
                    }
                    console.log("SUCCESS");
                },
                error: function (data) {
                    console.log("FAILURE");
                }
            });
        }


        function progressBar() {
            if (i == 0) {
                i = 1;
                var elem = document.getElementById("myBar");
                var id = setInterval(frame, 100);
                function frame() {
                    if (width >= 100) {
                        clearInterval(id);
                        i = 0;
                        setTimeout(() => { endProcess(); }, 2000);
                    } else {
                        if (width < 90)
                            width++;
                        elem.style.width = width + "%";
                        elem.innerHTML = width + "%";
                    }
                }
            }
        }


        function endProcess() {
            var result = document.getElementById("resultSterilizeMsg");
            result.style.display = "block";
            document.getElementById("result").innerHTML = "Syringes are fully sterilized. Ending process..";
            setTimeout(() => { window.location.href = "{{ url_for('index') }}"; }, 2000);
        }
        

        var i = 0;
        var width = 10;
        window.onload = function start() {
            progressBar()
            callSterilizeFunc()
            console.log('The Script will load now.');
        }
    </script>

</body>

</html>